DISCORD_BOT_TOKEN=token
YOUTUBE_API_KEY=youTubeApiKey
CLIENT_ID=clientId
APPLICATION_ID=appId
PUBLIC_KEY=publicKey
NEWS_API_KEY=newsApiKey
INVITE_URL=https://discord.com/oauth2/authorize?client_id=1271451731229802539&permissions=3146601199696&integration_type=0&scope=bot
